<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cotización de INDRA</title>
</head>
<body>
    <h1>Guille-Cotizaciones</h1>
    <div>{{ grafico_html|safe }}</div>
    <p>Precio actual: {{ precio_actual }}</p>
    <div id="tabla-cotizacion">
        <h2>Datos de Cotización Anual</h2>
        {{ tabla_html|safe }}
    <button onclick="window.location.href='/actualizar'">Actualizar</button>
    <p>El desempeño de INDRA en el último año ha sido notable, con un precio de cierre actual de {{ precio_actual }}.</p>
</body>
</html>
